<div class="calculator">
  <h2>Profit and Loss Calculator</h2>
  <form (ngSubmit)="calculateProfitLoss()">
    <label for="sellingPrice">Selling Price:</label>
    <input id="sellingPrice" type="number" [(ngModel)]="sellingPrice" name="sellingPrice" required>

    <label for="costPrice">Cost Price:</label>
    <input id="costPrice" type="number" [(ngModel)]="costPrice" name="costPrice" required>

    <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" [(ngModel)]="quantity" name="quantity" required>

    <label for="offerPercentage">Offer Percentage (optional):</label>
    <input id="offerPercentage" type="number" [(ngModel)]="offerPercentage" name="offerPercentage">

    <button type="submit">Calculate</button>
  </form>

  <div *ngIf="profitLoss !== null">
    <h3>Results:</h3>
    <p>Profit/Loss: {{ profitLoss | currency }}</p>
  </div>
</div>

<div class="dashboard-container">
  <h2>Show Profit Loss Sample Interactive Dashboard</h2>
  <button (click)="toggleIframe()">Click Me!</button>
  <div *ngIf="isIframeVisible">
    <iframe
      title="Profit"
      width="1140"
      height="541.25"
      src="https://app.powerbi.com/reportEmbed?reportId=39811818-afec-44c0-ac9d-78de9508ead1&autoAuth=true&embeddedDemo=true"
      frameborder="0"
      allowFullScreen="true"
    ></iframe>
  </div>
</div>
